#div_mesas_bloqueo{
    display: none;     
    position: absolute;  
    width: 100%;
    height: 100%;   
    background-color:rgba(127, 127, 127, 0.3);     
    z-index: 1;
} 

#div_mesas{    
    display: flex;  
    position: absolute;  
    float:left;
    width: 62%;
    height: 62%;
    background-color:rgb(72, 71, 69);     
    z-index: 1;
    top: 50%; /* Posiciona el div a la mitad de la altura */
    left:50%; /* Posiciona el div a la mitad del ancho */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrarlo */ 
    border-radius: 10px 10px 10px 10px; /* Esquinas redondeadas */
    border: 3px solid black;                
} 

#div_mesas #ubicacion{
    width: 20%; 
    height: 100%;
    background-color: rgb(rgb(72, 71, 69));
    border-right: 3px dashed rgb(30,30,38);
    overflow-y: scroll; /* Barra de desplazamiento solo vertical */
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */
}
  
#div_mesas #ubicacion *{
    width: 90%;
    height: 50px;
    margin: 10px 5%;
    background-color: white;
    border-radius: 10px 10px 10px 10px; /* Esquinas redondeadas */  
}

#div_mesas #form_mesas {
    overflow-y: scroll; /* Barra de desplazamiento solo vertical */
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */
}

#div_mesas #form_mesas button{
    display: inline-flex;   
    position: relative;   
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 5px;
    border-radius: 10px 10px 10px 10px; /* Esquinas redondeadas */ 
    border:none;         
}

#div_mesas #form_mesas button span{
    position: relative; 
    background-color: transparent;
    border-radius: 10px 10px 10px 10px; /* Esquinas redondeadas */ 
    width: 100%;
    height: 100%;
}

#div_mesas #form_mesas button span:active{
    background-color: rgb(156, 50, 50)  ;
}

#div_mesas #form_mesas button span span{
    background-color: transparent;
    position: absolute; /* Posiciona el span hijo de forma absoluta */
    bottom: 0; /* Lo coloca en la parte inferior del contenedor padre */
    left: 0; /* Opcional: Alinea el span al lado izquierdo */
    width: 100%; /* Opcional: Hace que el span ocupe todo el ancho del contenedor */
    height: 60%;
    text-align: center; /* Opcional: Centra el texto dentro del span */
}

#div_mesas #form_mesas button span b{
    top:0px;
    font-size: x-large;
}
