/* Personalizar todas las barras de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
/* Color del fondo de la barra */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Color del "pulgar" (la parte que se arrastra) */
::-webkit-scrollbar-thumb {
    background: #888;       
    border-radius: 5px;
}

/* Color del "pulgar" al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}