div#bloqueoClientes{
    top: 0;
    left: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(127, 127, 127, 0.3); 
    z-index: 100;
    display:flex;
}

div#bloqueoClientes form#asignarClientes{
    display: block;
    margin-top: 2.5%;
    margin-left:15%;
    width: 70%;
    height: 80%;
    background-color: var(--RojoPrincipal);
    border-radius: 10px 10px 10px 10px; /* Esquinas redondeadas */
    overflow: hidde n;
    border: 2px solid black; 
}

#buscarDIV{
    float: right;
    width: 25%;
    height: 3%;
    margin-right: 7px;
    margin-top: 9px;
    border: 1px solid black;
    border-radius: 7px;
    overflow: hidden;
    background-color: white;
}
#buscarDIV #buscarINP{
    width: 90%;
    height: 100%;
    float: right;
    border: none;
    outline: none;
}

#buscarDIV #buscarBUT{
    float: left;
    width: 9%;
    height: 100%;
    border: none;
    background-color: white;
    border-right: 0.5px solid var(--RojoPrincipal);
}

#buscarBUT .typcn{
    font-size: 18px;
}

#buscarDIV #buscarBUT:hover{
   background-color: var(--GrisCalido);
}

#buscarDIV #buscarBUT:active{
    background-color: rgba(190, 190, 190,0.8);
 }

/*#buscarINP {
    float: right;
    margin-left: 7px; 
    height: 3%;
    border:none;
    border-radius: 6%;
    outline: none;
    padding: 2px;
}

#buscarINP,
#buscarBUT {
  float: right;
  margin-left: 10px;
  margin-top: 7px;
  margin-right: 15px;
}*/
  

div#bloqueoClientes form#asignarClientes div#listaClientes{
    margin-top: 3%;
    width: 100%;
    height: 86%;
    overflow-y: scroll; /* Barra de desplazamiento solo vertical */
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */
}

div#cliente{
    border-bottom: 1px dashed black;
    display: flex;
    width: 100%;
    height: 8%;
}

button#cliente{
    height: 100%;
    width: 95%;
    display: flex;
    border: none;
    background-color: white;
    font-size: 13px;
}

button#cliente .typcn{
    font-size: 18px;
}

button#cliente:hover{
  background-color: var(--GrisCalido);
}

button#cliente:active{
    background-color:  var(--RojoPrincipal);
  }

button#cliente #nombreCliente{
    font-weight:bold;
    width: 25%;
    padding-top: 10px;
}

button#cliente div#direccionCliente{
    margin-left: 10%;
    padding-top: 10px;
    width: 25%;
    text-align: left;

}
button#cliente div#datosCliente{
    text-align: left;
    margin-left: 10%;
    padding-top: 5px;

}

button#ajustesCliente{
    width: 5%;
    height: 100%;
    border: none;
    background-color: white;
}

#ajustesCliente .typcn{
    font-size: 18px;
}

button#ajustesCliente:hover{
    background-color: var(--GrisCalido);
}

button#ajustesCliente:active{
    background-color: var(--RojoPrincipal);
}

button#descartar{
    width: 90px;
    height: 6%;
    margin-left: 2%;
    margin-top: 7px;
    border: none;
    background-color: white;
    border-radius: 10px;
}

button#descartar:hover{
    background-color: var(--GrisCalido);
}

button#descartar:active{
    background-color: rgba(190, 190, 190,0.8);
}

button#añadir{
    width: 90px;
    height: 6%;
    margin-left: 1%;
    margin-top: 7px;
    border: none;
    background-color: white;
    border-radius: 10px;
}

button#añadir:hover{
    background-color: var(--GrisCalido);
}

button#añadir:active{
    background-color: rgba(190, 190, 190,0.8);
}

/*PANTALLA AÑADIR CLIENTES*/
div#blqAddClientes{
    top: 0;
    left: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(127, 127, 127, 0.3); 
    z-index: 100;
    display:flex;
}

div#blqAddClientes div#formAddClientes{
    display: block;
    margin-top: 2.5%;
    margin-left:15%;
    width: 70%;
    height: 80%;
    background-color: var(--RojoPrincipal);
    border-radius: 10px 10px 10px 10px; /* Esquinas redondeadas */
    /*overflow: hidden;*/
    border: 2px solid black; 
}

div#blqAddClientes div#formAddClientes form{
    display: flex;
    width: auto;
    height: auto;
}

div#blqAddClientes div#formAddClientes form#formbtnParEmpr{
    width: auto;
    height: auto;
}

div#blqAddClientes div#formAddClientes form#formDatosCliente{
    width: auto;
    height: auto;
}

div#blqAddClientes div#formAddClientes form#formDescartar{
    width: auto;
    height: auto;
}

div#blqAddClientes #particulares{
    float:left;
    width: 49%;
    height: 5%;
    margin: 0.5% 0 0 1%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none;
    background-color: white;
}

div#blqAddClientes #particulares:hover{
    background-color: var(--GrisCalido);
}

div#blqAddClientes #particulares:active{
    background-color: var(--GrisFrio);
}


div#blqAddClientes #empresas{
    float:right;
    width:49%;
    height: 5%;
    margin: 0.5% 1% 0 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    border-bottom: none;
}

div#blqAddClientes #empresas:hover{
    background-color: var(--GrisCalido);
}

div#blqAddClientes #empresas:active{
    background-color: var(--GrisFrio);
}

div#blqAddClientes .clsAddCli{
    width: 100%;
    height: 86%;
    background-color: white;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

div#blqAddClientes #particulares.activo {
  background-color: var(--OroViejo); 
}

div#blqAddClientes #empresas.activo {
  background-color: var(--OroViejo); 
}

